@import "style.css";

:root {
    --container-width: 700px;
    --container-height: 400px;
    --button-hover-bg-color: 224, 171, 154;
}

.kw-button {
    margin-bottom: 5px;
    width: 300px;
    height: 100px;
    font-size: 25px;
}

.kw-button:hover {
    background: rgba(var(--button-hover-bg-color), 0.7);
}

.kw-title {
    margin-top: 20px;
    font-size: 100px;
}

.kw-container {
    position: relative;
    text-align: center;
    width: var(--container-width);
    height: var(--container-height);
    margin-left: calc(50% - (var(--container-width)) / 2);
    margin-top: calc(25% - (var(--container-height)) / 2);
}

#actions-container {
    position: absolute;
    top: calc(80% - 150px);
    left: calc(50% - 150px);
}